# Default ignored files
/shelf/
/workspace.xml

.idea/
.idea/libraries/
.idea/encodings.xml
.idea/uiDesigner.xml
*.iml
*.iws
*.ipr

# Maven target directory
target/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
